<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <!--Nav bar-->
    <nav class="nav_sign_in">
        <h1>Products (Register)</h1>
        <a href="/login" class="back">Login</a>
    </nav>
    <!--Main content-->
    <main class="main_sign_in">
        <div class="register_content">
            <p class="register">Register</p>
            <div class="extern_register">
                <form method="post">
                    <input name="name" type=text placeholder="username" required>
                    <input name="email" type="text" placeholder="e-mail" required>
                    <input name="password" type="password" placeholder="password" required>
                    <input name="cpf" type="text" placeholder="CPF" required>
                    <button class="submit">Register</button>
                </form>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer>
        <p>Todos os direitos reservados ℗</p>
    </footer>
</body>
</html>